<?xml version="1.0"?>

<launch>
  <include file="$(find hiros_opensim_ik_solver)/launch/default.launch">
    <arg name="node_required" value="true"    />
    <arg name="node_name"     value="opensim" />

    <!-- General Parameters -->
    <arg name="n_threads"                    value="8"           />
    <arg name="input_topic"                  value="/skel_group" />
    <arg name="out_joint_state_topic"        value="/opensim/js" />
    <arg name="out_skeleton_group_topic"     value="/opensim/sg" />
    <arg name="sensor_to_opensim_rotation_x" value="-1.5707963"  />
    <arg name="sensor_to_opensim_rotation_y" value="0"           />
    <arg name="sensor_to_opensim_rotation_z" value="0"           />

    <!-- IMU Placer Parameters -->
    <arg name="perform_model_calibration"  value="true"       />
    <arg name="perform_heading_correction" value="true"       />
    <arg name="base_imu_label"             value="pelvis_imu" />
    <arg name="base_heading_axis"          value="z"          />
    <arg name="save_calibrated_model"      value="true"       />
    <arg name="visualize_calibration"      value="true"       />

    <!-- IK Tool Parameters -->
    <arg name="model_path"            value="$(find hiros_opensim_ik_solver)/models/Rajagopal2015_edited.osim" />
    <arg name="accuracy"              value="1e-4"  />
    <arg name="use_marker_positions"  value="false" />
    <arg name="use_link_orientations" value="true"  />
  </include>
</launch>
